.App {
    max-width: 860px;
    margin: 40px auto;
}
h1 {
    color: aliceblue;
}
button {
    background: none;
    border: 0.2rem solid white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background: rgb(218, 18, 245);
    color: white;
}
